[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "==19.7.1"
ibmcloudenv = "*"
livereload = "*"
Flask = "==1.1.2"
matplotlib = "==3.2.1"
pandas = "==1.0.3"
seaborn = "==0.10.0"
xgboost = "==1.1.1"
numpy = "==1.18.2"
ipython = "==7.17.0"
schema = "==0.7.2"
appnope = "==0.1.0"
backcall = "==0.2.0"
click = "==7.1.2"
contextlib2 = "==0.6.0.post1"
decorator = "==4.4.2"
dython = "==0.6.1"
ipykernel = "==5.3.4"
itsdangerous = "==1.1.0"
jedi = "==0.17.2"
joblib = "==0.17.0"
jupyter-client = "==6.1.7"
jupyter-core = "==4.6.3"
kiwisolver = "==1.2.0"
parso = "==0.7.1"
patsy = "==0.5.1"
pexpect = "==4.8.0"
pickleshare = "==0.7.5"
prompt-toolkit = "==3.0.8"
ptyprocess = "==0.6.0"
pyaml = "==20.4.0"
pyparsing = "==2.4.7"
python-dateutil = "==2.8.1"
pytz = "==2020.1"
pyzmq = "==19.0.2"
scikit-optimize = "==0.8.1"
scipy = "==1.5.2"
six = "==1.15.0"
statsmodels = "==0.12.0"
threadpoolctl = "==2.1.0"
tornado = "==6.0.4"
traitlets = "==5.0.4"
wcwidth = "==0.2.5"
prometheus-client = "*"
scikit-learn = "==0.23.2"
Cycler = "==0.10.0"
ipython_genutils = "==0.2.0"
Jinja2 = "==2.11.2"
MarkupSafe = "==1.1.1"
Pygments = "==2.7.1"
PyYAML = "==5.3.1"
Werkzeug = "==1.0.1"
